.esport-banner {
  width: 82%;
  height: 300px;
  color: white;
  background-image: url("../assets/images/esports/esport-banner.jpg");
  background-position-y: -88px;
  background-size: cover;
}

.result-loading {
  height: 51vh;
}
