.match-presentation {
  height: 300px;
  background-image: url("/images/homepage/lol-banner.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
  /* background-color: #e1e2e2; */
}

.generic-match-info {
  height: 200px;
}

.match-scoreboard {
  background-color: #e1e2e2;
  border-radius: 5px;
}

.matchdetails-champ-icon {
  width: 20%;
}

.items-container {
  width: 93px;
}

.item-display-row {
  width: 92px;
  margin: 0;
}

.item-holder {
  width: 25px;
  height: 25px;
}

.item-details-icon {
  width: 100%;
}
