.match-presentation {
  height: 200px;
  background-image: url("/images/homepage/lol-banner.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
  /* background-color: #e1e2e2; */
}

.generic-match-info {
  height: 200px;
}

.match-scoreboard {
  background-color: #e1e2e2;
  border-radius: 5px;
}

.matchdetails-champ-icon {
  width: 20%;
}

.item-holder {
  width: 7%;
}
