.last-games-recap {
  font-size: 13px;
}

.kills-text-color {
  color: #12d678;
}

.deaths-text-color {
  color: red;
}

.assists-text-color {
  color: orange;
}

.lastGameStats-champ-icon-container {
  width: 14%;
}

.lastGameStats-champ-icon {
  width: 100%;
}

.specific-champ-numbers-container {
  min-width: 191px;
}

.count-details {
  font-size: 13px;
}
