.total-game-recap {
  z-index: 2;
  top: -7px;
}

.kda-average-absolute {
  top: 45px;
  left: 135px;
}

.kills-text-color {
  color: #12d678;
}

.deaths-text-color {
  color: red;
}

.assists-text-color {
  color: orange;
}

.lastGameStats-champ-icon-container {
  width: 14%;
}

.lastGameStats-champ-icon {
  width: 100%;
}

.count-details {
  font-size: 13px;
}
