.summoner-icon {
  width: 120%;
}

.games-list {
  width: 80%;
  height: 100%;
}

div.game-resume,
div.game-resume > * {
  max-height: 150px;
}

.game-timing-infos {
  font-size: 12px;
}

/* .player-champion {
} */

.inGame-champs-img {
  width: 13%;
}
